* {
	margin: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Alegreya Sans', sans-serif;
	font-size: 1.2rem;
	line-height: 1.5;
}

video { width: 100%; }

p {
	width: 85%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	margin-bottom: 20px;
}

span { cursor: pointer; }

.highlight { color: #ff8200; }

@media (min-width: 768px) {

	body {
		padding-top: 40px;
		padding-left: 20%;
		padding-right: 20%;
	}

	p { width: 100%; }
}

/* Plyr styles */
.plyr__play-large { background: #ff8200; }

.plyr--video .plyr__controls button:hover { background-color: #ff8200; }

.plyr__volume--display,
.plyr__progress--played { color: #ff8200; }

.plyr input[type='range']:active::-ms-thumb { background: #ff8200; }

.plyr input[type='range']:active::-moz-range-thumb { background: #ff8200; }

.plyr input[type='range']:active::-webkit-slider-thumb { background: #ff8200; }
